node_modules/
tests/
tests-examples
allure-results/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
cucumber-report.html
/.github/workflows/
screenshotdir/
/allure-report/
global-setup.js
loginauth.json
/tests/
.DS_Store
/utils/EXCEL.js
/utils/TestData.xlsx
/ExcelReader.js
utils/ExcelReader.js
utils/tryExcel.spec.js
/.vscode/
